<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="martialcoder.surajsahani.moviedb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieAppKotlin">
        <activity
            android:name="martialcoder.surajsahani.view.MovieDetailActivity"
            android:label="Movie Details" />
        <activity
            android:name="martialcoder.surajsahani.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="martialcoder.surajsahani.view.MovieListView"
            android:parentActivityName="martialcoder.surajsahani.view.MainActivity" />
    </application>

</manifest>